<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Trigger</title>
  {% load static %}
  <!-- Icon -->
  <link rel="shortcut icon" href="{% static "source/logo.ico" %}" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
</head>

<body>
  <div class="wrapper">

    <div class="section">
      <h2>
        111気をつけて
      </h2>
      <p>
        痛み自体は、主な脂肪症のエリートにとって重要です。彼は苦労して彼を落ち着かせ、彼の痛みをはじき、彼を賞賛する熱意によって彼を自由であると非難する方法を誰も知らない、この種のより厳しい喜びは受け入れられるべきである。
      </p>
    </div>
    <div class="section">
      <h2>
        222気をつけて
      </h2>
      <p>
        痛み自体は、主な脂肪症のエリートにとって重要です。彼は苦労して彼を落ち着かせ、彼の痛みをはじき、彼を賞賛する熱意によって彼を自由であると非難する方法を誰も知らない、この種のより厳しい喜びは受け入れられるべきである。
      </p>
    </div>
    <div class="section">
      <h2>
        333気をつけて
      </h2>
      <p>
        痛み自体は、主な脂肪症のエリートにとって重要です。彼は苦労して彼を落ち着かせ、彼の痛みをはじき、彼を賞賛する熱意によって彼を自由であると非難する方法を誰も知らない、この種のより厳しい喜びは受け入れられるべきである。
      </p>
    </div>
  </div>
  <div id="container"></div>
  <div id="app"></div>

  <!-- Script -->
  <script src="{% static "frontend/main.js" %}"></script>
</body>

</html>